

.tictactoe-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80vw;
  height: 80vh;
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  box-sizing: border-box;
  --ttt-line-color: #000;
}

@media (prefers-color-scheme: dark) {
  .tictactoe-board {
    --ttt-line-color: #fff;
  }
}


.tictactoe-cell {
  border: 2.5px solid var(--ttt-line-color);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px 0 var(--ttt-line-color, #00000033);
}

/* Thicker borders for grid lines */
.tictactoe-cell {
  border-top-width: 0;
  border-left-width: 0;
}
.tictactoe-cell:nth-child(-n+3) {
  border-top-width: 5px;
}
.tictactoe-cell:nth-child(3n+1) {
  border-left-width: 5px;
}
.tictactoe-cell {
  border-bottom-width: 2.5px;
  border-right-width: 2.5px;
}
.tictactoe-cell:nth-child(n+7) {
  border-bottom-width: 5px;
}
.tictactoe-cell:nth-child(3n) {
  border-right-width: 5px;
}
